<form action="/auth/login" method="post">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Log In</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary">Log In</button> or <a href="/auth/register">Sign up</a>
      </div>
    </div>
  </div>
</form>
